body {
    font-family: 'Rubik Dirt', cursive;
}

h1 {
    font-size: 48px;
    text-shadow: 10px 10px 2px rgb(126, 62, 62);
}

h2 {
    font-size: 32px;
    text-shadow: 10px 10px 2px rgb(126, 62, 62);
}

