body {
    font-family: sans-serif;
    background-color: darkgray;
}

header {
    font-family: 'Rubik Dirt', cursive;
}

.jumbotron {
    background-image: linear-gradient(yellow, pink);
}

.navbar {
    background-color: black;
    font-family: 'Rubik Dirt';

}

.blockquote {
    font-family: cursive;
}

h1 {
    font-size: 48px;
    
}

h2 {
    font-size: 24px;
    
}

.site-footer {
    background-image: linear-gradient(pink, yellow);
}